<%- include('partials/head', {styles : ['stylesINDEX']}) %>

    <head>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" href="css/bannerHome.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>

    <body>
        <%- include('partials/header') %>
            <section data-store="home-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img id="promo-1" src="/images/Banner-prueba1.png" alt="Promo 1" />
                        </div>
                        <div class="swiper-slide">
                            <img id="promo-2" src="/images/Banner-prueba3.png" alt="Promo 3" />
                        </div>
                        <div class="swiper-slide">
                            <img id="promo-2" src="/images/Banner-prueba4.png" alt="Promo 4" />
                        </div>
                    </div>
                    <!-- Agrega controles de navegación -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- Agrega paginación -->
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            
            <main>
                <section>
                    <h3>Ofertas</h3>
                    <section class="bestsellers">
                        <% locals.inSale && inSale.forEach((product)=> { %>
                            <div class="products">
                                <article>
                                    <img src="../images/products/<%= product.image %>" alt="imagen" class="product_img">
                                    <div class="main-article">
                                        <h4 class="name">
                                            <%=product.name%>
                                        </h4>
                                        <p class="price"><a href="/products/detail/<%= product.id %>"><i
                                                    class="fas fa-info-circle fa-lg"></a></i> Desde $ <%= product.price
                                                %><i class="fas fa-cart-plus fa-lg"></a></i></p>
                                    </div>
                                </article>
                            </div>
                            <% }) %>
                    </section>
                </section>
                <div class="button-box">
                    <a href="/products"><button type="submit" class="btn-products">Ver todos los productos</button></a>
                </div>

            </main>
            <%- include('partials/footer') %>
            <script src="/js/swiper.js"></script>
    </body>

    </html>