<%- include('partials/head', {styles : ['productCreate']}) %>

<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <section id="formulario">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <h1>Agregar productos</h1>

                <div class="input-box">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= (locals.oldData && oldData.name) ? oldData.name : "" %>">
                    
                    <% if(locals.errors && locals.errors.name) { %>
                        <p>
                            <%= errors.name.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="input-box">
                    <label for="description" class="form-label">Descripción:</label>
                    <textarea name="description" id="description" placeholder="Descripción del producto" value="<%= (locals.oldData && oldData.name) && oldData.name %>"> </textarea>
                    
                    <%if(locals.errors && locals.errors.name){%>
                        <p>
                            <%= errors.description.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="input-box">
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input type="text" id="price" name="price" placeholder="Precio del producto" value="<%= (locals.oldData && oldData.name) && oldData.name %>">
                   
                    <%if(locals.errors && locals.errors.name){%>
                        <p>
                            <%= errors.price.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="input-box">
                    <label for="categoryId">Categoría:</label>
                    <select id="categoryId" name="categoryId">

                        <option value="">Elegí</option>
                        <% for(let i=0; i < categories.length; i++) { %>
                            <option value="<%= categories[i].id %>" <%= (locals.oldData &&
                                oldData.categoryId == categories[i].id) ? 'selected' : '' %>>
                                <%= categories[i].name %>
                            </option>
                        <% } %>
                    </select>
                    <% if (locals.errors && errors.categoryId) { %>
                        <span class="fieldError">
                            <%= errors.category.msg %>
                        </span>
                    <% } %>
                </div>

                <div class="input-box">
                    <label for="image">Foto del producto:</label>
                    <input type="file" id="image" name="image" accept="image/*">
                    <% if(locals.errors && locals.errors.image) { %>
                        <p>
                            <%= errors.image.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="input-box">
                    <label for="in_sale">¿Está en oferta?</label>
                    <select id="in_sale" name="in_sale" onchange="updateSaleValue()">
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <% if(locals.errors && locals.errors.in_sale) { %>
                        <p>
                            <%= errors.in_sale.msg %>
                        </p>
                    <% } %>
                </div>

                <button type="submit" class="btn">Guardar producto nuevo</button>
            </form>
        </section>
    </div>
    <script src="/js/createValidator.js"></script>
</body>

</html>