<%- include('partials/head', {styles : ['productCreate']}) %>

<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <section id="formulario">
            <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="POST">

                <div class="input-box">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="productNameEdit" name="name" placeholder="Nombre del producto"
                        required value="<%= productToEdit.name %>">
                    <p id="err-productNameEdit"></p>
                    <% if(locals.errors && locals.errors.name){ %>
                    <p>
                        <%= locals.errors.name.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="input-box">
                    <label for="description" class="form-label">Descripción:</label>
                    <textarea name="description" id="descriptionEdit" placeholder="Descripción del producto"
                        required><%= productToEdit.description %></textarea>
                    <p id="err-descriptionEdit"></p>
                    <% if(locals.errors && locals.errors.description){ %>
                    <p>
                        <%= locals.errors.description.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="input-box">
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input type="text" id="priceEdit" name="price" placeholder="Precio del producto"
                        required value="<%= productToEdit.price %>">
                    <p id="err-priceEdit"></p>
                    <% if(locals.errors && locals.errors.price){ %>
                    <p>
                        <%= locals.errors.price.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="input-box">
                    <label for="categories_id" class="form-label">Seleccione categoría:</label>
                    <select name="categories_id" id="categoryEdit">
                        <option value="">Elegir</option>
                        <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"
                            <%= productToEdit.categories_id === category.id && 'selected' %>><%= category.name %>
                        </option>
                        <% }); %>
                    </select>
                    <p id="err-categoryEdit"></p>
                </div>
                <div class="input-box">
                    <label for="in_sale" class="form-label">¿Está en oferta?</label>
                    <select id="in_saleEdit" name="in_sale">
                        <option value="">Elegir</option>
                        <option value="1" <%= productToEdit.in_sale == 1 && 'selected' %>>Sí</option>
                        <option value="0" <%= productToEdit.in_sale == 0 && 'selected' %>>No</option>
                    </select>
                    <p id="err-in_saleEdit"></p>
                </div>
                <button type="submit" class="btn">Guardar Cambios</button>
            </form>
        </section>
    </div>
    <script src="/js/updateValidator.js"></script>
</body>

</html>