<%- include('partials/head', {styles : ['productCreate']}) %>

    <body>
        <div class="logo-btn">
            <img src="/images/Logo-verde.png" alt="Logo">
        </div>
        <div class="wrapper">
            <section id="formulario">
                <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post">
                    <h1>Modificar Producto</h1>
                    <div class="input-box">
                        <label for="name" class="form-label">Nombre del producto:</label>
                        <input type="text" id="productNameEdit" name="productNameEdit" placeholder="Nombre del producto"
                            value="<%= productToEdit.name %>">
                        <p id="err-productNameEdit"></p>
                    </div>
                    <div class="input-box">
                        <label for="description" class="form-label">Descripción:</label>
                        <textarea name="descriptionEdit" id="descriptionEdit"
                            placeholder="Descripción del producto"><%= productToEdit.description %></textarea>
                        <p id="err-descriptionEdit"></p>
                    </div>
                    <div class="input-box">
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" id="priceEdit" name="priceEdit" placeholder="Precio del producto"
                            value="<%= productToEdit.price %>">
                        <p id="err-priceEdit"></p>
                    </div>
                    <!--nos falta para editar imagen o borrarlo del modelo-->
                    <div class="input-box">
                        <label class="copy">Seleccione categoría:</label>
                        <select name="categoryEdit" id="categoryEdit">
                            <option value="">Elegir</option>
                            <option value="semillas" <%=productToEdit.category==='semillas' && 'selected' %>>Semillas
                            </option>
                            <option value="macetas" <%=productToEdit.category==='macetas' && 'selected' %>>Macetas
                            </option>
                            <option value="herramientas" <%=productToEdit.category==='herramientas' && 'selected' %>
                                >Herramientas</option>
                            <option value="interior" <%=productToEdit.category==='interior' && 'selected' %>>Interior
                            </option>
                            <option value="exterior" <%=productToEdit.category==='exterior' && 'selected' %>>Exterior
                            </option>
                        </select>
                        <p id="err-categoryEdit"></p>
                    </div>
                    <!-- <div class="input-box">
                <p class="copy">Foto del producto</p>
                <input type="file" id="image" name="image" accept="image/*">
            </div> -->
                    <div class="input-box">
                        <label for="sale" class="form-label">¿Está en oferta?":</label>
                        <input type="text" id="in_saleEdit" name="in_saleEdit" placeholder="¿Está en oferta?"
                            value="<%= productToEdit.sale %>">
                        <p id="err-saleEdit"></p>
                    </div>
                    <button type="submit" class="btn">Guardar Cambios</button>
                </form>


            </section>
        </div>

        </section>
        <script src="/js/updateValidator.js"></script>
    </body>

    </html>