<%- include('partials/head', {styles : ['stylesLogin']}) %>
<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
            <h1>Modificar Producto</h1>
            <div class="input-box">
                <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= productToEdit.name %>">
            </div>
            <div class="input-box">
                <textarea name="description" id="description" placeholder="Descripción del producto"><%= productToEdit.description %></textarea>
            </div>
            <div class="input-box">
                <input type="text" id="price" name="price" placeholder="Precio del producto" value="<%= productToEdit.price %>">
            </div>
            <div class="input-box">
                <input type="text" id="discount" name="discount" placeholder="Descuento a aplicar" value="<%= productToEdit.discount %>">
            </div>
            <div class="input-box">
                <label class="copy">Seleccione categoría:</label>
                <select name="category" id="category">
                    <option value="" disabled selected>Elegir</option>
                    <option value="semillas" <%= productToEdit.category === 'semillas' ? 'selected' : '' %>>Semillas</option>
                    <option value="insumos" <%= productToEdit.category === 'insumos' ? 'selected' : '' %>>Insumos</option>
                    <option value="macetas" <%= productToEdit.category === 'macetas' ? 'selected' : '' %>>Macetas</option>
                    <option value="herramientas" <%= productToEdit.category === 'herramientas' ? 'selected' : '' %>>Herramientas</option>
                    <option value="suculentas" <%= productToEdit.category === 'suculentas' ? 'selected' : '' %>>Suculentas</option>
                    <option value="interior" <%= productToEdit.category === 'interior' ? 'selected' : '' %>>Interior</option>
                    <option value="exterior" <%= productToEdit.category === 'exterior' ? 'selected' : '' %>>Exterior</option>
                </select>
            </div>
            <div class="input-box">
                <p class="copy">Foto del producto</p>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="input-box">
                <input type="text" id="sale" name="sale" placeholder="¿Está en oferta?" value="<%= productToEdit.sale %>">
            </div>
            <button type="submit" class="btn">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
