<%- include('partials/head', {styles : ['productCreate']}) %>
<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form action="/users/<%= userToEdit.id %>/edit?_method=PUT" method="post">
            <h1>Modificar datos personales</h1>
            <div class="input-box">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre" value="<%= userToEdit.name %>">
            </div>
            
            <div class="input-box">
                <label for="user_name" class="form-label">Nombre de usuario:</label>
                <textarea name="user_name" id="user_name" placeholder="Nombre de usuario"><%= userToEdit.user_ame %></textarea>
            </div>
            <div class="input-box">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" value="<%= userToEdit.email %>">
            </div>
    
            <button type="submit" class="btn">Guardar Cambios</button>
        </form>
    </div>
</body>